* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html {
  font-size: 70%;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #222;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  padding: 1rem;
}

nav ul li {
  list-style: none;
}

.hero {
  min-height: 90vh;
  background: url('./assets/pexels-com-silver-and-black-laptop-computer-1229861.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0,0,0,0.5);
  color: #FFF;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.hero h2 {
  text-align: center;
  margin: 2rem;
}

.hero button {
  padding: 1rem 2rem;
  background: rgb(0, 187, 255);
  border: none;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  
}

.intro img {
  width: 100%;
  height: 100%;
}

.intro-img {
  flex: 1 1 30rem;
  background: lightblue;
}

.intro-text {
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-text h2 {
  padding: 2rem;
}

.intro-text p {
  padding: 1rem;
}

